/*
    Page wrapper definition.
    each page have margin to show begining of 
    new page content or body wrapper would have a background color different 
    than that of page. Body/content to have a grey tone background if pages are white
*/

.page{
    background: #fff;
    
    &:nth-of-type(odd) {
        background: linear-gradient(35deg,#f5f5f5 65%,#f8f8f8 0);
    }
    
    //background: #f2f5fc;
    padding-bottom: 3rem;
    position: relative;
    padding-right:0.625rem; 
    padding-left:0.625rem;
    @include above-displays-size("sm"){
        padding-right:0.9375rem; 
        padding-left:0.9375rem;    
    }
    z-index: $zindex-fixed;

    &.background-primary{
        background:#fff;
    }
    opacity: 1;
    hr{
        margin: 20px 0px;
        @include above-displays-size("sm"){
            margin: 40px 0px;
        }        
        border-color:  $font-color-tertiary;
        opacity: 0.2;
        
    }
}

.page-container{
    //background: #fff; 
    &.background-secondary{
        background: $font-color-secondary;
    }
    //max-width:1440px;
    //margin: auto;
    z-index: $zindex-modal;
    //opacity: 0;
    &.fade-in {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
    }
    
    @keyframes fadeInOpacity {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

}
.page-container-cast-shadow{
    @extend .page-container;
    @include above-displays-size("sm"){
        border-radius: 10px;
        box-shadow: 0 16px 40px 0 rgba(7,2,71,.1);
        border: 1px solid rgba(7,2,71,.04);
        //margin: 3rem 0;        
    }
}

.page-row{
    display:flex;
    max-width: 1440px;
    flex-flow: row wrap;
    margin-left: -($gutter-width/3);
    margin-right: -($gutter-width/3);
    @include above-displays-size("sm"){
        margin-left: -($gutter-width/2);
        margin-right: -($gutter-width/2);
    }
    &.centered{
        justify-content: center;
        margin: auto;
    }
    &.pull-left{
        justify-content: flex-start;
    }
    &.pull-right{
        justify-content: flex-end;
    }
    &.reverse{
        flex-direction: row-reverse;
    }

}

.page-row.with-column{
    flex-direction: column;
    &.reverse{
        flex-direction:column-reverse;
    }
    &.centered{
        align-items: center;
    }
    &.pull-left{
        align-items: flex-start;
    }
    &.pull-right{
        align-items: flex-end;
    }
}

.page-section{
    margin: 4rem 0;
    &.page-section-padding{
        padding-right:0.625rem; 
        padding-left:0.625rem;
        @include above-displays-size("sm"){
            padding-right:0.9375rem; 
            padding-left:0.9375rem;    
        }
    }
}
.page-section-casts-shadow{
    @extend .page-section;
    @include cast-shadow(1);
}

.page-header{
    //background: linear-gradient(35deg,#f5f5f5 65%,#f8f8f8 0);;
    //background: #3b4966;
    padding-bottom: 3rem;
    padding-top: 4rem;
    @include below-displays-size("md"){
        padding-top: 48px;
    }
    //background-color:#232f3e ;
    
    text-align: center;
    margin-left: -($gutter-width/3);
    margin-right: -($gutter-width/3);
    @include above-displays-size("sm"){
        margin-left: -($gutter-width/2);
        margin-right: -($gutter-width/2);
    }
    
}

.page-header-title-group{
    padding-right:0.625rem; 
    padding-left:0.625rem;
    @include above-displays-size("sm"){
        padding-right:0.9375rem; 
        padding-left:0.9375rem;    
    }
}

.page-header-title{
    font-size:$page-header-font-size;
    @include below-displays-size("md"){
        font-size: ($page-header-font-size*0.875)
    }

    color: $font-color-orange;
    font-weight: bold;
    text-transform: capitalize;
    &.page-title-lines{
        @include above-displays-size("sm"){
            @include include-leading-trailing-line(5rem,2.5px);
        }    
    }
}

.with-lines{
        @include above-displays-size("sm"){
            @include include-leading-trailing-line(5rem,2.5px);
        }    

}

.casts-shadow{
    @include cast-shadow(1);
}
.page-header-subtitle{
    font-size:      $page-subtitle-font-size;
    @include below-displays-size("md"){
        font-size: ($page-subtitle-font-size*0.875)
    }
    //color:$font-color-secondary;
    color:#536171;
    text-align: center;
    width: 70%;
    margin: auto;
}

.page-header-subtext{
    font-size: $page-header-subtext-font-size;
    //color:$font-color-tertiary;    
    color:#536171;
    text-align: center;
    width: 70%;
    margin: auto;
}

.page-content{
    width: 100%;    
}

.section-title{
    font-size: $section-title-font-size;
    //padding: 2rem 0;
    @include below-displays-size("md"){
        font-size: $section-title-font-size*0.875;
    }
    color:$font-color-orange;
    //color: $font-color-blue;
    &.title-centered{
        text-align: center;
    }
    
}
.section-subtitle{
    color: $font-color-orange;
    font-size: $section-subtitle-font-size;
    font-weight: bold;
}

.section-title-subtext{
    //font-size: $section
    color: $font-color-secondary;
    font-weight: 700;
}

.section-text{
    color:  $font-color-secondary;
    font-weight: 400;
}

.quote{
    font-style: italic;
    font-size: 1rem;
    color: #536171;
    text-align: center;    
}
.section-row{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:2.5rem 0;
    @include below-displays-size("md"){
        margin:2.5rem*0.875 0;
    }    
    color:#3b4966;
    .space-around{
        justify-content: space-around;
    }
    .space-evenly{
        justify-content: space-evenly;
    }
    .flex-start{
        justify-content: flex-start;
    }

}
.section-row-shadow{
    box-shadow: 0 10px 40px 10px rgba(140,152,164,.175)!important;
    border-radius: 4px;
}

.primary-background{
    background: #fff;
    border-radius: 8px;
    padding: 1rem;
}

.style-header{
    position: absolute;
    z-index: 1;
    width: 100%;
    min-height: 308px;
    background: darkseagreen;
    opacity: 0.2;    
}
.header-style{
    position: relative;
    z-index: 2;
    left: 50%;
    transform: translateX(-51%);
    min-width: 1000px;
    width: 135%;
    user-select: none;
    height: 50%;
    overflow: hidden;    
}
.header-style-upper{
    position: relative;
    z-index: 2;
    left: 50%;
    transform: rotate(180deg) translateX(50%);
    min-width: 1000px;
    width: 135%;
    user-select: none;
    height: 50%;
    overflow: hidden;    
}