.text-color-white{
    color: #fff;
}
.text-color-primary{
    color:$font-color-primary;
}
.text-color-secondary{
    color:$font-color-primary;
}
.text-color-tertiary{
    color:$font-color-primary;
}
.text-color-blue{
    color:$font-color-primary;
}
.text-color-orange{
    color:$font-color-orange;
}
.text-justified{
    text-align: justify;
}
.text-centered{
    text-align: center;
}
