.aboutme{
    //background: #fff;
    //border-radius: 8px;
    padding: 0 1rem!important;
    .section-title{
        color:#f5861b;
    }
}
.heading{
    color: #DDD;
}
.profile-section{
    background: #fff;
    .divider{
        border:1px solid #eaeaea;
        margin: 2rem 0;
    }
}
.detail-item{
    margin-bottom: 1rem;
    .section-text{
        p {
            margin-bottom: 4px!important;
        }
    }
}
.page-about{
    margin-top: 100vh;
    //background: #31355b;
    //background: #232f3e;
    .page-container{
        //background: #232f3e;
        //background: #31355b;
        .side-col{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top:1rem;
            //background: #fff;
            border-radius: 8px;
            padding: 2rem;
        
            .languages{
                margin: 8px 0;
                flex-flow: row nowrap;
                strong{
                    font-weight: bold;
                }
            }
            @include below-displays-size("md"){
                margin-top:1rem; 
            }
        }
        //color:#fff!important;
        /*
        background: #FC5C7D; 
        background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  
        background: linear-gradient(to right, #6A82FB, #FC5C7D); 
        
        /*
        border:none;
        background: #000046;  
        background: -webkit-linear-gradient(to right, #1CB5E0, #000046); 
        background: linear-gradient(to right, #1CB5E0, #000046); 
        .page-header-title{
            color: #fff;
        }
        .section-title{
            color:#fff;
        }
        */
    }
}